.divElement {
  align-content: center;
  /* margin: 70px; */
}
.divElement h1 {
  font-family: tahoma;
  font-style: italic;
  letter-spacing: 1em;
  border: 4px gold solid;
  box-shadow: 0 8px 8px 8px gray;
  margin: 70px;
  width: 550px;
  color: #f3be18;
  padding: 2%;
  background-color: #ff937b;
}
.divElement input {
  margin: 70px;
  padding: 10px 10px 10px 10px;
  width: 30%;
  border-radius: 20px;
  color: white;
  background-color: gray;
}
.divElement button {
  margin: 70px;
  padding: 10px 10px 10px 10px;
}
